name: Autograding Tests
'on':
- workflow_dispatch
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Billboard Test
      id: billboard-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Billboard Test
        setup-command: ''
        command: gradle test
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        BILLBOARD-TEST_RESULTS: "${{steps.billboard-test.outputs.result}}"
      with:
        runners: billboard-test
